@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html {
	font-size: calc(16 / 19.2 * 1vw);
}

@media (min-aspect-ratio: 16 / 9) {
	html {
		font-size: calc(16 / 10.8 * 1vh);
	}
}

:root {
    --main-color: #1f5eff;
    --main-color-hover: #1f5effBF;
}

* {
    -webkit-user-drag: none;
}

body {
	font-family: 'Tajawal', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
}

.container {
    width: 100%;
    height: 100%;
    padding: 3.5rem;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
}

.playing {
    color: #fff;
    display: flex;
}

.playing-img-div {
    background-color: #d9d9d9;
    border-radius: 50rem;
    height: 3.375rem;
    width: 3.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-img {
    height: 60%;
}

.now-playing-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.25rem;
    gap: 0.3rem;
    line-height: 1;
}

.now-playing {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.song-name {
    font-weight: 500;
    font-size: 1.25rem;
}

.button {
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.875rem;
    margin-left: auto;
    transition: .25s;
}

.button:hover {
    cursor: pointer;
}

.button:hover i {
    color: var(--main-color);
    transition: .25s;
}

.mid {
    display: flex;
    height: 100%;
}

.patch-notes {
    color: #fff;
    margin-top: auto;
    margin-bottom: 5.4rem;
}

.patch-notes-banner {
    width: 37.75rem;
    height: 16.25rem;
    position: relative;
    display: inline-block;
    background-size: 130%;
    background-position: center;
    border-radius: 0.875rem;
    outline: 0.1875rem solid transparent;
    transition: .25s;
}

.patch-notes-banner:hover {
    box-shadow: inset 0 0 1.25rem rgba(2, 2, 2, 0.25);
    cursor: pointer;
    outline: 0.1875rem solid var(--main-color);
    transition: .25s;
}

.patch-notes-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(2, 2, 2, 0.5);
    pointer-events: none;
    border-radius: 0.875rem;
}

.patch-notes-banner-title-div {
    width: calc(65% - 3rem);
    height: calc(100% - 3rem);
    padding: 1.5rem 1.5rem 1.5rem 1.8rem;
    font-size: 2.55rem;
    font-weight: 500;
    line-height: 1;
    position: relative;
    z-index: 1;
    display: flex;
}

.patch-notes-banner-title {
    margin-top: auto;
}

.patch-notes-title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-top: 2.75rem;
}

.patch-notes-description {
    font-size: 1.375rem;
    font-weight: 500;
    color: #ccc;
    width: 63%;
    line-height: 1.1;
    margin-top: 0.25rem;
}

.patch-notes-control {
    display: flex;
    text-transform: uppercase;
    margin-top: 1.5rem;
    gap: 1.8rem;
}

.patch-notes-slide {
    width: 37.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
}

.slide-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50rem;
    outline: 0.15rem solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.slide-dot:hover {
    cursor: pointer;
}

.slide-dot-selected {
    background-color: #e2e2e2;
    animation: fadeInDots 0.25s ease-in-out;
}

.previous, .next {
    display: flex;
}

.key {
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 1;
    color: #000;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.key-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.875rem;
    font-size: 1.7rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.control-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5.4rem;
}

.progressbar {
    margin-top: auto;
    position: relative;
}

.pb-top {
    width: 0%;
    background-color: var(--main-color);
    filter: drop-shadow(0 0.1rem 0.25rem var(--main-color-hover));
    height: 2rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: width 1s ease-in-out;
}

.pb-bottom {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
}

.pbm-top {
    width: 100%;
    height: 0.5rem !important;
    background-color: #d9d9d9;
    border-radius: 0.5rem !important;
    position: absolute;
    animation: fadeIn 0.655s ease-in-out;
}

.pbm-bottom {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-foreground {
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: blur(0.125rem);
}

.video-foreground .vid {
    width: 100%;
    height: 100%;
}

.music-widget {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    border-radius: 0.875rem;
    font-weight: 500;
    line-height: 1;
    width: 20rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 4.265rem;
    transition: width 0.5s ease, height 0.5s ease;
}

.music-fr {
    display: flex;
    justify-content: space-between;
}

.music-name {
    font-size: 1.25rem;
    color: #fff;
}

.music-artist {
    color: #d6d6d6;
}

.music-controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: -0.25rem;
    animation: ease-in-out 0.625s backwards;
}

.music-time {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
}

.music-current-time {
    color: #e2e2e2;
    font-family: sans-serif;
    width: 3rem;
    text-align: left;
}

.music-total-time {
    color: #e2e2e2;
    margin-right: -0.0625rem;
    font-family: sans-serif;
    width: 3rem;
    text-align: right;
}

.music-progress-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slide-staff {
    height: 100%;
    width: 31rem;
    position: fixed;
    top: 0;
    right: -0.125rem;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
    border-left: 0.0625rem solid #333;
    transform: translateX(100%);
}

.slide-updates {
    height: 100%;
    width: 31rem;
    position: fixed;
    top: 0;
    left: -0.125rem;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
    border-right: 0.0625rem solid #333;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
}

.staff-header {
    display: flex;
    font-size: 1.45rem;
    font-weight: 500;
    justify-content: space-between;
    padding: 1.9375rem 1.75rem 0 1.75rem;
    align-items: center;
}

.staff-title {
    color: #fff;
}

.staff-quantity {
    color: #999;
}

.close-btn {
    background-color: #191919;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.375rem;
    height: 2.375rem;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn i {
    color: #e2e2e2;
    transition: .25s;
}

.close-btn:hover i {
    color: #fff;
    transition: .25s;
}

.staff-filter {
    display: flex;
    font-size: 1.45rem;
    font-weight: 500;
    gap: 1rem;
    padding: 0.75rem 1.75rem 0rem 1.75rem;
    border-bottom: 0.0625rem solid #333;
    line-height: 2.25;
    transition: .25s;
}

.staff-filter-option {
    color: #ccc;
    border-bottom: 0.0625rem solid transparent;
    transition: .25s;
}

.staff-filter-option:hover {
    color: #fff;
    cursor: pointer;
    transition: .25s;
}

.staff-selected {
    color: var(--main-color);
    border-bottom: 0.0625rem solid var(--main-color);
}

.staff-selected:hover {
    color: var(--main-color);
}

.staff-list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 87.5vh;
}

.staff-member {
    display: flex;
    padding: 1.5rem 1.75rem;
    border-bottom: 0.0625rem solid #333;
    width: 100%;
    gap: 1.125rem;
}

.staff-image {
    background-color: #646464;
    padding: 1rem;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;
}

.staff-info-div {
    font-weight: 500;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.staff-name {
    color: #fff;
    font-size: 1.5rem;
}

.staff-rank {
    color: #ccc;
    font-size: 1.25rem;
}

.backward, .music-state, .forward {
    width: 1.25rem;
}

.backward:hover, .music-state:hover, .forward:hover {
    cursor: pointer;
}

.backward i, .music-state i, .forward i {
    font-size: 2rem;
    color: #e2e2e2;
    transition: .25s;
}

.fa-play {
    font-size: 1.75rem;
}

.backward:hover i, .music-state:hover i, .forward:hover i {
    color: var(--main-color);
    transition: .25s;
}

.button-i1 {
    font-size: 1.8rem;
    color: #e2e2e2;
    transition: .25s;
}

.button-i2 {
    font-size: 1.625rem;
    color: #e2e2e2;
    transition: .25s;
}

.updates-header-div {
    font-size: 1.4375rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem;
    line-height: 1.18;
    border-bottom: 0.0625rem solid #333;
    align-items: center;
}

.updates-header {
    display: flex;
    flex-direction: column;
}

.updates-title {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1rem;
}

.updates-added {
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1.17rem;
}

.updates-date {
    color: #ccc;
    font-size: 0.88rem;
}

.updates-content {
    padding: 1.75rem;
}

.ul {
    color: #fff;
    padding-inline-start: 1.15rem;
}

.mt-1 {
    margin-top: 1rem;
}

.updates-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 2.25rem 0;
    border-top: 0.0625rem solid #333;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.social {
    color: #fff;
    font-size: 1.25rem;
}

.social:hover {
    cursor: pointer;
}

.social i {
    transition: .25s;
}

.social:hover i {
    color: var(--main-color);
    transition: .25s;
}

.social-text {
    color: #ccc;
    font-weight: 500;
}

.patch-notes-img {
    width: 100%;
    border-radius: 0.875rem;
}

#update-list {
    margin-bottom: 0;
    max-height: 40.16vh;
    overflow: auto;
}

li {
    padding-right: 0.25rem;
}

::-webkit-scrollbar {
	width: 0.3125rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 0.625rem;
	transition: .25s;
}

::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background-color: #0a4df9;
	transition: .25s;
}

@keyframes moveUp {
    from {
        transform: translateY(0.625rem);
    }
    to {
        transform: translateY(0rem);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(0.625rem);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0.625rem);
        opacity: 0;
    }
    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0rem);
        opacity: 1;
    }
    to {
        transform: translateX(0.625rem);
        opacity: 0;
    }
}


@keyframes fadeInDots {
    from {
      background-color: rgba(255, 255, 255, 0.2);
    }
    to {
      background-color: #e2e2e2;
    }
  }

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}