@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap";

@import "https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap";

p {
	margin: 0 !important
}

:focus {
	outline: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #000
}

html,
body {
	width: 100%;
	height: 100%;
}

* {
	cursor: none !important;
}

body {
	overflow: hidden;
	user-select: none
}

#inventory-container {
	position: absolute;
	width: 1920px;
	height: 1080px;
	margin: 1%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	display: none
}

.inventory-animation {
	height: 100%;
	width: 100%
}

.inv-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1
}

.inv-container {
	position: absolute;
	width: 100%;
	height: 100%
}

.player-inventory {
	position: absolute;
	top: 26%;
	left: 14.2%;
	width: 28%;
	height: 47.16%;
	float: left;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 100
}

.other-inventory {
	position: absolute;
	top: 26%;
	right: 16%;
	width: 28%;
	height: 47.16%;
	float: left;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 100
}

.custom-inventory {
	position: absolute;
	top: 26%;
	right: 16%;
	width: 28%;
	height: 47.16%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	display: none
}

.ply-hotbar-inventory {
	position: absolute;
	bottom: 10%;
	left: 35.5%;
	z-index: 105
}

.player-inventory>.item-slot>.item-slot-key>p {
	position: absolute;
	font-weight: bolder;
	color: #fff;
	padding: 3.24px;
	text-align: center;
	width: 19px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: auto;
	font-size: 11.88px;
	line-height: 19.44px;
	font-family: "Rajdhani", sans-serif
}

.inv-options {
	position: absolute;
	margin: 0 auto;
	right: 0;
	width: 9%;
	top: 28%;
	left: 10.8px
}

.logo-container {
	position: relative;
	overflow: hidden;
	text-align: center;
	top: 190px;
	left: -15px
}

.logo-container img {
	position: relative;
	max-width: 9%;
	max-height: 100px
}

.item-slot {
	position: relative;
	width: 100px;
	height: 124.2px;
	float: left;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	margin: 2px;
	top: -7px;
	transition: opacity .2s;
	opacity: 1;
	border-radius: 5px;
	cursor: grab
}

.item-slot-hoverClass {
	opacity: .6
}

.item-slot:hover {
	opacity: .7
}

.inv-option-item {
	margin-top: 10%
}

.btn-inv {
	width: 100% !important;
	max-width: 100% !important;
	padding: 10% !important;
	background-color: rgba(235, 235, 235, 0)
}

#item-amount {
	color: #fff;
	text-align: center;
	font-size: 13.5px;
	font-family: "Rajdhani", sans-serif;
	outline: none
}

.ammo-info-block {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 237.6px;
	height: 118.8px;
	background-color: rgba(235, 235, 235, 0.08);
	border: 1px solid rgba(255, 255, 255, 0.01);
	top: 21.6px
}

.ammo-info-header {
	width: 100%;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	background-color: rgba(0, 0, 0, 0.192);
	font-size: 11.88px;
	padding: 4.32px;
	text-align: center
}

.ammo-info {
	position: relative;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	font-weight: 200;
	font-size: 11.88px;
	margin-left: 8.64px;
	margin-top: 4.32px;
	margin-bottom: 2.7px;
	top: 6.48px
}

.ammo-info span {
	margin-right: 1vh;
	float: right
}

.inv-option-item>p {
	color: #fff;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	font-size: 12.96px;
	font-weight: 900;
	cursor: pointer;
	font-family: "Rajdhani", sans-serif
}

.inv-option-item {
	width: 75%;
	height: 50px;
	background-color: #000;
	border: 1px solid rgba(255, 255, 255, .01);
	color: #fff;
	border-radius: 5px;
	transition: background-color .1s linear
}

.inv-option-item:hover {
	background-color: #000
}

.btn-combine {
	position: relative;
	margin-top: 20px;
	width: 78%;
	left: 2px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .01);
	background-color: rgba(220, 20, 60, 0.6);
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	font-size: 12.96px;
	transition: background-color .1s linear;
	font-weight: 900;
	font-family: "Rajdhani", sans-serif
}

.btn-combine>p {
	color: #fff;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	font-size: 11.88px;
	font-family: "Rajdhani", sans-serif;
	background-color: #000
}

.item-slot-amount {
	position: absolute;
	top: 2px;
	right: 4px
}

.item-slot-amount>p {
	color: #fff;
	text-align: right;
	font-size: 10px;
	width: 60px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.item-slot-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden
}

.item-slot-label>p {
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 9.5px;
	padding: 3px;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	margin: 0
}

.item-slot-quality {
	position: absolute;
	bottom: 20.8px;
	width: 100%;
	height: 7px;
	opacity: .8;
	background-color: rgba(32, 6, 6, 0.15)
}

.item-slot-quality-bar {
	position: absolute;
	width: 0;
	height: 7px;
	background-color: green;
	z-index: 1
}

.item-slot-quality p {
	color: transparent
}

.item-slot-img {
	max-width: 100%;
	max-height: 100%;
	padding: .5vw
}

.item-slot-img img {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 21%;
	width: 65px;
	height: 65px;
	max-width: 100%;
	max-height: 100%
}

.ui-draggable-dragging {
	background: rgba(0, 0, 0, 0.3)
}

.player-inv-info {
	position: absolute;
	left: 14.5%;
	top: 20.5%;
	width: 26.8%
}

#player-inv-label {
	position: relative;
	color: #fff;
	font-size: 16px;
	font-family: "Rajdhani", sans-serif;
	font-weight: 700;
	letter-spacing: 2.16px;
	bottom: 0;
	float: left;
	width: 450px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: uppercase
}

#player-inv-weight {
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	font-family: "Rajdhani", sans-serif;
	letter-spacing: 2.16px;
	float: right;
	margin-top: -20px;
	margin-right: 5px
}

#other-inv-label {
	position: relative;
	color: #fff;
	font-size: 16px;
	font-family: "Rajdhani", sans-serif;
	font-weight: 700;
	letter-spacing: 2.16px;
	bottom: 0;
	float: left;
	text-transform: uppercase
}

#other-inv-weight {
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	font-family: "Rajdhani", sans-serif;
	letter-spacing: 2.16px;
	float: right;
	margin-top: -20px;
	margin-right: 5px
}

.player-inv-weight {
	position: absolute;
	left: 38%;
	top: 12%
}

.player-inv-weight>p {
	color: #fff;
	font-size: 12px;
	font-family: "Rajdhani", sans-serif
}

.other-inv-info {
	position: absolute;
	left: 56.4%;
	top: 20.5%;
	width: 26.8%
}

.ply-iteminfo-container {
	font-family: "Rajdhani", sans-serif;
	display: none;
	position: absolute;
	top: 74%;
	margin: 0 auto;
	left: 14.6%;
	text-align: left;
	width: 26.8%;
	height: auto;
	min-height: 12%;
	padding: 12px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #ad0000
}

.ply-iteminfo {
	display: flex;
	position: relative;
	top: 1px
}

.iteminfo-content {
	width: 100%
}

.item-info-types {
	width: 10%;
	text-align: center
}

.item-info-types i {
	font-size: 16px;
	margin: 6px;
	color: #fff
}

.item-info-title {
	text-transform: uppercase;
	font-weight: 900;
	font-family: "Rajdhani", sans-serif;
	font-size: 17px;
	color: #fff;
	padding-top: 1px
}

.item-info-description strong {
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Rajdhani", sans-serif;
	color: #fff;
	padding-top: 5.4px;
	min-height: 60px;
	max-height: 140px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis
}

.item-info-description {
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Rajdhani", sans-serif;
	color: #fff;
	padding-top: 5.4px;
	min-height: 60px;
	max-height: 140px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis
}

.item-info-img {
	position: relative;
	width: 90px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.item-info-img img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover
}

.itemboxes-container {
	height: 130px;
	max-width: 103px;
	width: fit-content;
	position: absolute;
	right: 3%;
	bottom: 5%;
	overflow: hidden
}

.template {
	display: none
}

.itembox-container {
	display: none;
	position: relative;
	width: 100px;
	height: 124.2px;
	float: left;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	margin: 2px;
	transition: opacity .2s;
	opacity: 1;
	border-radius: 5px
}

#itembox-action {
	position: absolute;
	font-weight: bolder;
	color: #fff;
	padding: 3.24px;
	text-align: center;
	width: auto;
	min-width: 50px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	line-height: 19.44px;
	font-family: "Rajdhani", sans-serif
}

#itembox-action>p {
	font-size: 10px;
	font-family: "Rajdhani", sans-serif
}

#itembox-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7)
}

#itembox-label>p {
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 9.5px;
	padding: 3px;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	margin: 0
}

.requiredItem-container {
	display: none;
	position: absolute;
	height: 1080px;
	width: 100vw
}

.requiredItem-box {
	position: relative;
	top: 70%;
	left: 42%;
	width: 97.2px;
	height: 118.8px;
	float: left;
	margin-left: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #ad0000
}

#requiredItem-action {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	padding: 3px;
	font-size: 10px;
	font-family: "Rajdhani", sans-serif
}

#requiredItem-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #000;
	height: 28.08px
}

#requiredItem-label>p {
	color: #fff;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	line-height: 32.4px
}

.z-hotbar-inventory {
	display: none;
	position: absolute;
	bottom: 1%;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: fit-content;
	z-index: 105
}

.z-hotbar-inventory>.z-hotbar-item-slot>.z-hotbar-item-slot-key>p {
	position: absolute;
	font-weight: bolder;
	color: #fff;
	padding: 3.24px;
	text-align: center;
	width: 19px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 11.88px;
	line-height: 19.44px;
	font-family: "Rajdhani", sans-serif
}

.z-hotbar-item-slot {
	position: relative;
	width: 100px;
	height: 124.2px;
	float: left;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	margin: 2px;
	top: -7px;
	transition: opacity .2s;
	opacity: 1;
	border-radius: 5px
}

.z-hotbar-item-slot-amount {
	position: absolute;
	top: 2px;
	right: 4px
}

.z-hotbar-item-slot-amount>p {
	color: #fff;
	text-align: right;
	font-size: 10px;
	width: 60px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.z-hotbar-item-slot-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	min-height: 2.2vh;
	height: fit-content
}

.z-hotbar-item-slot-label>p {
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 9.5px;
	padding: 3px;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	margin: 0
}

.z-hotbar-item-slot-img {
	max-width: 100%;
	max-height: 100%;
	padding: .9vw
}

.z-hotbar-item-slot-img img {
	margin-top: 21%;
	display: block;
	width: 60px;
	height: 60px;
	max-width: 100%;
	max-height: 100%
}

.ammo-container {
	position: absolute;
	background-color: rgba(20, 18, 32, 0.2);
	width: 3.25%;
	height: 44.16%;
	top: 26%;
	left: 6%
}

.ammo-container-header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(120, 10, 20, 0.5);
	text-align: center;
	color: rgba(216, 216, 216, 0.897)
}

.ammo-container-header>i {
	line-height: 54px;
	font-size: 19.44px
}

.ammo-box {
	position: relative;
	width: 100%;
	height: 64.8px;
	top: 54px;
	background-color: rgba(0, 0, 0, .4);
	margin-bottom: 5.4px;
	margin-top: 5.4px
}

.ammo-box>img {
	position: absolute;
	top: 1.62px;
	left: 2.16px;
	width: 56.7px;
	opacity: .25
}

.ammo-box>span {
	position: absolute;
	color: rgba(255, 255, 255, 0.95);
	font-size: 10.044px;
	bottom: 0;
	right: 0;
	margin: 3.24px;
	font-family: "Rajdhani", sans-serif
}

.ammo-box-amount {
	position: absolute;
	width: 100%;
	background-color: rgba(36, 36, 36, 0.4);
	bottom: 0;
	max-height: 100%
}

#pistol_ammo>.ammo-box-amount {
	height: 0
}

#smg_ammo>.ammo-box-amount {
	height: 0
}

#shotgun_ammo>.ammo-box-amount {
	height: 0
}

#rifle_ammo>.ammo-box-amount {
	height: 0
}

.weapon-attachments-container {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: none
}

.weapon-attachments-info {
	position: relative;
	display: inline-block;
	margin: 10px;
	padding: 20px;
	width: 20%;
	max-height: 76.5%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	font-family: "Rajdhani", sans-serif
}

.weapon-attachments-container-title {
	font-size: 32.4px;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.8)
}

.weapon-attachments-container-description {
	font-size: 18.36px;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.8);
	overflow: auto
}

.weapon-attachments-container-details {
	font-size: 15.12px;
	color: rgba(255, 255, 255, 0.8)
}

.weapon-attachments-container-detail-durability {
	height: 16.2px;
	width: 108px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 1px;
	margin-bottom: 10px
}

.weapon-attachments-container-detail-durability-total {
	height: 100%;
	width: 50%;
	background-color: #27ae60
}

.weapon-attachments-container-image {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 32%;
	width: 30%
}

.weapon-attachments {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 15px;
	padding: 15px;
	width: auto;
	max-width: 43.2%;
	overflow: hidden;
	white-space: nowrap;
	background: red;
	height: 16.7%;
	display: flex;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: row;
	cursor: grab
}

.weapon-attachments>.weapon-attachment {
	flex-shrink: 0;
	cursor: grab
}

.weapon-attachments>.weapon-attachment:active {
	cursor: grabbing
}

.weapon-attachments>div {
	flex-shrink: 0
}

.weapon-attachments-title {
	position: absolute;
	bottom: 151.2px;
	left: 0;
	margin: 42px;
	color: rgba(255, 255, 255, 0.8);
	font-family: "Rajdhani", sans-serif;
	font-size: 18px
}

.weapon-attachment {
	position: relative;
	height: 135px;
	width: 113.4px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	margin: 10px;
	bottom: 5px;
	float: left;
	cursor: grab
}

.weapon-attachment:hover {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #1d1d1d
}

.weapon-attachment-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 2.1%
}

.weapon-attachment-label>p {
	color: #fff;
	font-size: 11.88px;
	text-align: center;
	text-transform: uppercase;
	line-height: 20.52px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100
}

.weapon-attachment-img {
	max-width: 100%;
	max-height: 100%;
	padding: .5vw
}

.weapon-attachment-img>img {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	width: 70px;
	height: 70px;
	max-width: 100%;
	max-height: 100%
}

.weapon-attachments-remove {
	position: absolute;
	width: 70.2px;
	height: 70.2px;
	background-color: #0f0f0f;
	border-radius: 1px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 80%;
	text-align: center;
	color: #fff;
	font-size: 21.6px;
	transition: background-color .05s linear
}

.weapon-attachments-remove:hover {
	background-color: red !important
}

.weapon-attachments-remove>i {
	line-height: 70.2px
}

.weapon-attachments-remove-hover {
	background-color: #27ae60
}

.weapon-dragging-class {
	animation: ShakeEffect .75s;
	animation-iteration-count: infinite
}

@keyframes ShakeEffect {
	0% {
		transform: translate(1px, 1px) rotate(0deg)
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg)
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg)
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg)
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg)
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg)
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg)
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg)
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg)
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg)
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg)
	}
}

.weapon-attachments-back {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 108px;
	height: 64.8px;
	margin: 15px;
	background-color: #0f0f0f;
	border-radius: 1px;
	text-align: center;
	line-height: 64.8px;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	transition: .05s linear;
	cursor: pointer
}

.weapon-attachments-back:hover {
	background-color: #121212
}

#attachment-canvas {
	position: absolute;
	width: 1920px;
	height: 1080px;
	margin: 1%;
	top: 45%;
	left: 48%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.weapon-attachments-line {
	position: absolute;
	width: 1px;
	height: 1px
}

.attachmentItem-container {
	position: absolute;
	height: 135px;
	width: 113.4px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	z-index: 9999999;
	cursor: grab
}

.weapon-attachments-weaponContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	height: 60%;
	transform: translate(-50%, -50%);
	cursor: grab
}

.clothes-inventory .item-slot:has(.item-slot-img img) .item-slot-bg-image {
	display: none
}

.clothes-inventory {
	position: absolute;
	top: 26.3%;
	right: 15.4%;
	width: 28%;
	height: 24%;
	float: left;
	padding: 5px;
	overflow: hidden;
	display: none
}

.clothes-inventory .item-slot {
	position: relative;
	width: 100px;
	height: 124.2px;
	float: left;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	margin: 2px;
	top: -7px;
	transition: opacity .2s;
	opacity: 1;
	border-radius: 5px
}

.clothes-inventory .item-slot-img {
	padding: 0;
	width: 4vw;
	height: 4vw;
	margin: 24px auto
}

.clothes-inventory .item-slot-img img {
	margin-top: 0
}

.clothes-inventory :is(.item-slot-amount, .item-slot-key) {
	display: none
}

.item-slot-bg-image {
	align-items: center;
	justify-content: center;
	display: flex;
	top: 0;
	position: absolute;
	margin: 1%;
	top: 43%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: auto
}

.item-slot-bg-image img {
	width: 100%;
	height: 100%;
	opacity: .22
}

.item-slot-clothe-back {
	position: absolute;
	right: 5px;
	bottom: 2px;
	color: #fff;
	padding: 4px;
	background: #666;
	border-radius: 9999px;
	cursor: pointer;
	display: none
}

.item-slot-clothe-back .fas {
	font-size: 1vh
}

#clothmenu {
	position: relative
}

.item_crafting {
	justify-content: center;
	display: flex;
	width: 48%;
	height: 24.7%;
	position: relative
}

.img_crafting {
	max-width: 100%;
	max-height: 100%;
	padding: .5vw;
	position: absolute;
	left: 0
}

.amount_crafting {
	position: absolute;
	left: 14%;
	right: auto
}

.label_crafting {
	width: 39.5%;
	left: 0;
	border-radius: 0
}

.item-slot-costs-container {
	left: 20%;
	right: 0;
	display: flex;
	height: 100%;
	width: 60%;
	position: relative;
	text-align: center;
	flex-direction: column;
	overflow: auto
}

.item-slot-costs {
	display: flex;
	text-align: left;
	justify-content: center;
	height: 30%;
	margin: 2px;
	border-radius: 5px
}

.item-slot-costs-img img {
	position: relative;
	width: 20px;
	top: 5px;
	left: 5px;
	margin-right: 10px;
}

.item-slot-costs-label {
	color: #fff;
	font-size: 10px;
	line-height: 35px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.item_selling {
	justify-content: center;
	display: flex;
	width: 48%;
	height: 24.766%;
	position: relative
}

.img_selling {
	max-width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
	left: 0
}

.img_selling img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover
}

.amount_selling {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 5px;
	right: 5px
}

.amount_selling p {
	font-size: 12px;
	z-index: 1
}

.label_selling {
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	max-width: 150px;
	height: auto;
	border-radius: 0 !important;
	background: none;
	top: 0
}

.label_selling p {
	font-size: 11px
}

.inventory-playerstats {
	position: fixed;
	top: 284px;
	left: 195px
}

.playerstats {
	color: #fff
}

.inventory-playerdata {
	position: fixed;
	top: 284px;
	right: 225px
}

.playerdata {
	color: #fff
}

.playerdata p {
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.playerstat-icon {
	position: relative;
	font-size: 20px;
	text-align: center;
	width: 61px;
	padding-top: 21.6px;
	font-weight: 600;
	padding-bottom: 21.6px;
	border-radius: 5px;
	margin-bottom: 10.8px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #ad0000
}

.playerstat-icon p {
	color: #fff
}

.playerstat-text {
	position: relative;
	top: 10.8px;
	font-size: 11px;
	text-align: center;
	font-weight: 600;
	font-family: "Rajdhani", sans-serif
}

.custom-primary-color,
.custom-secondary-color {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	border-radius: 5px;
	padding: 6px;
	margin-bottom: 8px
}

.custom-border-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.custom-details {
	height: 10%
}

.custom-border {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	border-radius: 5px;
	padding: 15px;
	height: 10%;
	color: #fff
}

.custom-border-radius {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	border-radius: 5px;
	padding: 15px;
	height: 82px;
	margin-bottom: 8px;
	color: #fff
}

.custom-text-color {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #4b4b4b;
	border-radius: 5px;
	padding: 15px;
	height: 80px;
	color: #fff
}

.custom-border {
	margin-right: 8px
}

#reset-localstorage {
	display: none
}

.custom-primary-color label,
.custom-secondary-color label {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #fff
}

.custom-primary-color input[type="color"],
.custom-secondary-color input[type="color"],
.custom-text-color input[type="color"] {
	border: none;
	background-color: transparent;
	outline: none;
	height: 40px;
	width: 100%;
	margin-bottom: 13px;
	border-radius: 10px;
	cursor: pointer
}

.custom-text-color input[type="color"] {
	margin-top: -20px
}

.custom-border input[type="color"],
.custom-text-color input[type="color"] {
	border: none;
	background-color: transparent;
	outline: none;
	height: 30px;
	width: 100%;
	margin-bottom: 13px;
	border-radius: 10px;
	cursor: pointer
}

.custom-primary-color input[type="range"],
.custom-secondary-color input[type="range"],
.custom-border-radius input[type="range"],
.custom-border-container input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background-color: #ddd;
	border-radius: 5px;
	margin-bottom: 13px
}

.custom-primary-color input[type="range"]::-webkit-slider-thumb,
.custom-secondary-color input[type="range"]::-webkit-slider-thumb,
.custom-border-radius input[type="range"]::-webkit-slider-thumb,
.custom-border-container input[type="range"]::-webkit-slider-thumb {
	position: relative;
	bottom: 5px;
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer
}

.custom-primary-color input[type="range"]::-moz-range-thumb,
.custom-secondary-color input[type="range"]::-moz-range-thumb,
.custom-border-radius input[type="range"]::-moz-range-thumb,
.custom-border-container input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer
}

.custom-primary-color input[type="range"]::-ms-thumb,
.custom-secondary-color input[type="range"]::-ms-thumb,
.custom-border-radius input[type="range"]::-ms-thumb,
.custom-border-container input[type="range"]::-ms-thumb {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer
}

.custom-primary-color input[type="range"]::-webkit-slider-runnable-track,
.custom-secondary-color input[type="range"]::-webkit-slider-runnable-track,
.custom-border-radius input[type="range"]::-webkit-slider-runnable-track,
.custom-border-container input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	border-radius: 5px;
	background-color: #ddd
}

.custom-primary-color input[type="range"]::-moz-range-track,
.custom-secondary-color input[type="range"]::-moz-range-track,
.custom-border-radius input[type="range"]::-moz-range-track,
.custom-border-container input[type="range"]::-moz-range-track {
	height: 10px;
	border-radius: 5px;
	background-color: #ddd
}

.custom-primary-color input[type="range"]::-ms-track,
.custom-secondary-color input[type="range"]::-ms-track,
.custom-border-radius input[type="range"]::-ms-track,
.custom-border-container input[type="range"]::-ms-track {
	height: 10px;
	border-radius: 5px;
	background-color: #ddd
}

.custom-primary-color input[type="range"]::-ms-fill-lower,
.custom-secondary-color input[type="range"]::-ms-fill-lower,
.custom-border-radius input[type="range"]::-ms-fill-lower,
.custom-border-container input[type="range"]::-ms-fill-lower {
	background-color: #ddd
}

.custom-primary-color input[type="range"]::-ms-fill-upper,
.custom-secondary-color input[type="range"]::-ms-fill-upper,
.custom-border-radius input[type="range"]::-ms-fill-upper,
.custom-border-container input[type="range"]::-ms-fill-upper {
	background-color: #ddd
}

.custom-primary-color input[type="range"]::-moz-focus-outer,
.custom-secondary-color input[type="range"]::-moz-focus-outer,
.custom-border-radius input[type="range"]::-moz-focus-outer,
.custom-border-container input[type="range"]::-moz-focus-outer {
	border: none
}

.custom-primary-color input[type="range"]:focus,
.custom-secondary-color input[type="range"]:focus,
.custom-border-radius input[type="range"]:focus,
.custom-border-container input[type="range"]:focus {
	outline: none
}

.progressbar {
	border-radius: 5px;
	padding: 1px;
	background-color: red;
	border: 1px solid #ad0000
}

.player-weight-progressbar,
.other-weight-progressbar {
	background-color: #780a14;
	height: 20px;
	transition: width 1s;
	border-radius: 3px
}

#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 120;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, .2);
	padding: 15px;
	border-radius: 5px;
	width: 20%;
	display: none;
	color: #fff;
	font-family: "Rajdhani", sans-serif
}

#dialog h2 {
	font-size: 20px;
	margin-top: 0
}

#nearPlayers {
	display: flex;
	flex-direction: column;
	gap: 10px
}

.nearbyPlayerButton {
	width: auto;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, .2);
	color: #fff;
	border-radius: 5px;
	outline: none;
	transition: background-color .1s linear;
	cursor: pointer
}

.nearbyPlayerButton:hover {
	opacity: .7
}

#close-inventory-give {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, .2);
	width: 28px;
	height: 28px;
	border-radius: 5px;
	font-size: 30px;
	line-height: 28px;
	color: #fff
}

.label-changer-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 120;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-in-out;
	border: none !important
}

.label-changed {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 120;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, .2);
	padding: 15px;
	border-radius: 5px;
	width: 20%;
	display: none;
	color: #fff;
	font-family: "Rajdhani", sans-serif
}

.label-changer-title {
	font-size: 1.8vh;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	margin-bottom: 1vh
}

#label-changer-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, .2);
	width: 28px;
	height: 28px;
	border-radius: 5px;
	font-size: 26px;
	line-height: 28px;
	color: #fff
}

.label-changer-input-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.label-changer-input {
	width: 100%;
	height: 5vh;
	border-radius: 5px;
	background-color: rgba(255 255 255 / 0.1);
	border: none;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	text-align: center;
	font-size: 1.5vh;
	padding-left: 1vh
}

.label-changer-input:focus {
	outline: none !important
}

.label-changer-button-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.label-changer-button {
	width: 100%;
	height: 4.5vh;
	border-radius: 5px;
	background-color: rgba(255 255 255 / 0.1);
	margin-top: 2vh;
	box-shadow: 0 0 5px 0 rgba(0 0 0 / 0.3);
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	font-size: 1.5vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center
}

.weapon-tint-box-container {
	width: 100%;
	padding: 20px;
	align-items: center;
	justify-content: center
}

.weapon-tint-title {
	position: relative;
	font-size: 1.8vh;
	top: 16%;
	left: 5%;
	float: left;
	overflow: hidden
}

.weapon-tint-input-container {
	width: 100%;
	height: 10px;
	margin-top: 6vh;
	display: flex;
	align-items: center;
	margin-bottom: 3.4vh;
	justify-content: center
}

.weapon-tint-input-container input {
	width: 100%;
	height: 5vh;
	border-radius: 5px;
	background-color: rgba(255 255 255 / 0.2);
	border: none;
	color: #fff;
	font-family: "Rajdhani", sans-serif;
	text-align: center;
	font-size: 1.5vh;
	padding-left: 1vh
}

.weapon-tint-button-container {
	position: relative;
	width: 100%;
	height: 4.5vh;
	margin-top: 2.5vh;
	border-radius: 5px;
	background-color: rgba(255 255 255 / 0.2);
	box-shadow: 0 0 5px 0 rgba(0 0 0 / 0.3);
	color: #fff;
	line-height: 50px;
	font-family: "Rajdhani", sans-serif;
	font-size: 1.5vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center
}

.weapon-tint-full-screen {
	width: 100%;
	display: none;
	align-items: center
}

.weapon-tint-container {
	position: absolute;
	width: 25%;
	height: 19%;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	font-family: "Rajdhani", sans-serif
}

#weapon-tint-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, .2);
	width: 28px;
	height: 28px;
	border-radius: 5px;
	font-size: 26px;
	line-height: 28px;
	color: #fff
}

.item-slot-box {
    position: relative;
    width: 100px;
    height: 124.2px;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #4b4b4b;
    margin: 2px;
    top: -7px;
    transition: opacity .2s;
    opacity: 1;
    border-radius: 5px;
    cursor: grab;
}

.item-slot-box img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 30%;
    width: 65px;
    height: 65px;
    max-width: 100%;
    max-height: 100%;
}

.item-slot-box.rare-normal {
    border-bottom: 5px solid white;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent);
}

.item-slot-box.rare-classic {
    border-bottom: 5px solid green;
    background-image: linear-gradient(to top, rgba(0, 128, 0, 0.2), transparent);
}

.item-slot-box.rare-medium {
    border-bottom: 5px solid steelblue;
    background-image: linear-gradient(to top, rgba(70, 130, 180, 0.2), transparent);
}

.item-slot-box.rare-mythic {
    border-bottom: 5px solid violet;
    background-image: linear-gradient(to top, rgba(238, 130, 238, 0.2), transparent);
}

.item-slot-box.rare-epic {
    border-bottom: 5px solid goldenrod;
    background-image: linear-gradient(to top, rgba(218, 165, 32, 0.2), transparent);
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}