
#gradientbackground { 
	background-image:linear-gradient(90deg, rgba(255, 255, 255, 0.6600000262260437) 0%,rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0) 70.97999668121338%,rgba(203.29061150550842, 203.29061150550842, 203.29061150550842, 0) 99.98999834060669%) ;
	width:393px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}


#main {
	left: 150px;
	top: 350px;
	width: 800px;
	height: 300px;
	position: absolute;
	-webkit-animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}


#vehicle:hover #showtasks{ display: block;}
#vehicle {

	opacity: 0.9;
	background: rgb(168,168,168);
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
	left: 10px;
	top: 60px;
	width:250px;
	height:200px;
	position:absolute;
	transition: all .2s ease-in-out;
	box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);

}


#clothes:hover #showtasks{ display: block;}
#clothes {
	opacity: 0.9;
	background: rgb(168,168,168);
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
	left: 270px;
	top: 60px;
	width:250px;
	height:200px;
	position:absolute;
	transition: all .2s ease-in-out;
	box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);

}
#tasks:hover #showtasks{ display: block;}
#tasks {	
	opacity: 0.9;

	background: rgb(168,168,168);
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
	left: 530px;
	top: 60px;
	width:250px;
	height:200px;
	position:absolute;
	transition: all .2s ease-in-out;
	box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);

}

#showtasks {
	opacity: 1.0;

	background: rgb(168,168,168);
	background: linear-gradient(270deg, rgba(106,106,106,0.30015756302521013) 0%, rgba(18,18,18,0.8519782913165266) 0%);
    position: absolute;
	width:250px;
	height:200px;
    overflow: hidden;
    z-index: 10000;
    display: none;
	-webkit-animation: scale-up-ver-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-up-ver-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
}

#menuname {
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:50px;
	top:90px;
	font-family:Chivo;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);
}

#mainname { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:63px;
	position:absolute;
	left:13px;
	top:10px;
	font-family:Chivo;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);
}
#level {
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:57px;
	position:absolute;
	left:695px;
	top:23px;
	font-family:Chivo;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);
}
#playername {
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:57px;
	position:absolute;
	left:276px;
	top:23px;
	font-family:Chivo;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);
}

#xpline {
	background-color:rgba(255, 255, 255, 1);
	width:0px;
	height:10px;
	position:absolute;
	left:272px;
	top:40px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}

#capacityline {
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 0.5099999904632568);
	width:510px;
	height:10px;
	position:absolute;
	left:272px;
	top:40px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}




#vehmenu {
	left: 150px;
	top: 300px;
	width:490px;
	height:495px;
	position:absolute;
	-webkit-animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-br 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}






/*laikinasssss pradzie*/

.e6_411::-webkit-scrollbar{
	display: none;
  }
.e6_411 { 
	overflow:auto;
	left: -20px;
	top: 57px;
	width:520px;
	height:400px;
	position:absolute;
	padding-left: 20px;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 170px 170px 190px;
	grid-auto-rows: 190px;
}

#clothbuttonbackground:hover { transform: scale(1.03); box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);}

#clothbuttonbackground { 

	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(168,168,168,0.25015756302521013) 0%, rgba(18,18,18,0.806796218487395) 60%);
	width:160px;
	height:140px;
	position: relative;
	left:5px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	display: flex;
	flex-direction:row;
	overflow: hidden;
	transition: all .2s ease-in-out;

}
.e6_299 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:44px;
	position:absolute;
	left:10px;
	top: 110px;
	font-family:Chivo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}
.e6_309 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:55px;
	top:7px;
	font-family:Chivo;
	text-align:right;
	font-size:12px;
	letter-spacing:0;
}


.e6_169 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 0.5099999904632568);
	width:500px;
	height:10px;
	position:absolute;
	left:5px;
	top:45px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e6_179 { 
	background-color:rgba(255, 255, 255, 1);
	width:0px;
	height:10px;
	position:absolute;
	left:5px;
	top:45px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e6_189 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:57px;
	position:absolute;
	left:420px;
	top:25px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}
#return9 {
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:460px;
	top:200px;
	font-family:Chivo;
	text-align:right;
	font-size:50px;
	letter-spacing:0;
	cursor: pointer;
}
/*laikinasssss pabaiga*/



.e6_41::-webkit-scrollbar{
	display: none;
  }
.e6_41 { 
	overflow:auto;
	left: -20px;
	top: 57px;
	width:500px;
	height:400px;
	position:absolute;
	padding-left: 20px;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 240px 300px;
	grid-auto-rows: 190px;
}





#buttonbackground:hover { transform: scale(1.03); box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);}

#buttonbackground { 

	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
	width:230px;
	height:180px;
	position: relative;
	left:5px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	display: flex;
	flex-direction:row;
	overflow: hidden;
	transition: all .2s ease-in-out;

}
.e6_29 { 
	color:rgba(255, 255, 255, 1);
	width:294px;
	height:44px;
	position:absolute;
	left:10px;
	top: 147px;
	font-family:Chivo;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}
.e6_30 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:130px;
	top:7px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
}
.e6_31 { 
	color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:130px;
	top:22px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}


.e6_13 { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:63px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Chivo;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}
.e6_18 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:57px;
	position:absolute;
	left:390px;
	top:25px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}


.e6_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 0.5099999904632568);
	width:470px;
	height:10px;
	position:absolute;
	left:5px;
	top:45px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e6_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:0px;
	height:10px;
	position:absolute;
	left:5px;
	top:45px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}



#return {
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:425px;
	top:435px;
	font-family:Chivo;
	text-align:right;
	font-size:50px;
	letter-spacing:0;
	cursor: pointer;


}

#returnmain {
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:730px;
	top:250px;
	font-family:Chivo;
	text-align:right;
	font-size:50px;
	letter-spacing:0;
	cursor: pointer;

}


#power {
	color:rgb(255, 0, 0);
	width:40px;
	height:40px;
	position:absolute;
	left:210px;
	top:20px;
	font-family:Chivo;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	cursor: pointer;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);
}





#taskmen::-webkit-scrollbar{
	display: none;
  }
#taskmen { 
	overflow:auto;
	left: -20px;
	top: 60px;
	width:500px;
	height:375px;
	position:absolute;
	padding-left: 20px;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 240px;
	grid-auto-rows: 110px;
}


#taskbuttonbackground:hover { transform: scale(1.03); box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.637);}

#taskbuttonbackground { 
	opacity: 0.9;
	background: rgb(168,168,168);
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
	width:470px;
	height:100px;
	position: relative;
	left:5px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	display: block;
	overflow: hidden;
	transition: all .2s ease-in-out;

}


#taskname { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:44px;
	position:absolute;
	left:10px;
	top: 70px;
	font-family:Chivo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);

}


#levelgain {

	color:rgba(255, 255, 255, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:365px;
	top:7px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;

}

#reward {

	color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:365px;
	top:22px;
	font-family:Chivo;
	text-align:right;
	font-size:14px;
	letter-spacing:0;
	text-shadow:0px 4px 4px rgba(0, 0, 0, 0.308);


}




#bucketas {
	background: rgb(168,168,168);

	right: 23px;
	width: 172px;
	bottom: 18px;
	height: 50px;
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
}

#healthas {
	background: rgb(168,168,168);

	right: 23px;
	width: 172px;
	bottom: 18px;
	height: 50px;
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
}

.home-container1 {
	background: rgb(168,168,168);

	right: 23px;
	width: 172px;
	bottom: 18px;
	height: 50px;
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;

	background: linear-gradient(90deg, rgba(168,168,168,0.30015756302521013) 0%, rgba(18,18,18,0.896796218487395) 50%);
}
  .home-text {
	top: 8px;
	color: #ffffff;
	right: 8px;
	position: absolute;
	font-size: 30px;
	text-align: right;
	font-family: Arial;
}
  .home-image {
	width: 50%;
	height: 100%;
	background-image: url(img/fish.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

.home-vehimage {
	width: 50%;
	height: 100%;
	background-image: url(img/car.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

.home-batteryimage {
	width: 50%;
	height: 100%;
	background-image: url(img/battery.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}
  
#carmenu {
	width: 100%;
	height: 100%;
	background-image: url(img/vehicle.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

#boatmenu {
	width: 100%;
	height: 100%;
	background-image: url(img/boat.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

#choppermenu {
	width: 100%;
	height: 100%;
	background-image: url(img/chopper.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

#bikemenu {
	width: 100%;
	height: 100%;
	background-image: url(img/bike.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}


#clothmenu {
	width: 100%;
	height: 100%;
	background-image: url(img/clothes.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}

#taskmenu {
	width: 100%;
	height: 100%;
	background-image: url(img/tasks.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}


#womenclothmenu {
	width: 100%;
	height: 100%;
	background-image: url(img/cargoclothes/WomenUniform3.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	
}


@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
}
  



 @-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  
  @keyframes scale-up-br {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	}
  }