:root {
  --background: #20282e;
  --buttons: #425e79;
  --success_d: #20282e;
  --success: #26a69a;
  --prize_d: #f9a82537 ;
  --prize: #fdd835 ;
  --failed_d: #c6282837 ;
  --failed: #ef5350;
}

body {
  display: none;
  width: 100%;
  height: 100%;

  background: linear-gradient(45deg, rgba(34,193,195,0.4598214285714286) 0%, rgba(253,187,45,0) 100%),  linear-gradient(121deg, rgba(195,34,91,0.4598214285714286) 0%, rgba(253,187,45,0) 100%);
  user-select: none;
}

.container_background {
  width: 100%;
  height: 100%;
}

.container {
  width: 55%;
  height: 60%;
  /* filter: blur(5px); */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-family: "Titillium Web";
  border-radius: 1vh;
}

.deletechar_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.deletechar_modal__container {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 9px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  
  background-color: #20282ede;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Titillium Web";
  color: white;
}

.deletechar_modal__container .input-field input {
  text-align: center;
}
.deletechar_modal__container .input-field {
  position: relative;
  left: 50%;
}

.deletechar_modal__container #header {
  font-family: "Titillium Web";
  font-weight: 800;
  font-size: 2.2vh;
  letter-spacing: .1vw;
  color: white;
}

.container__info { display: none; }
.container__create { display: none; }
.container #slider { display: none; } 
.deletechar_modal { display: none; } 

#playername {
  font-size: 6.5vh;
  font-weight: 800;
}

.container__info #playerdata {
  font-size: 1.8vh;
  font-weight: 400;
}

.container #slider {
  position: absolute;
  bottom: 0;
  font-weight: 700;
}
.container #slider .btn-small {
  position: relative !important;
  margin-right: .3vw !important;
}

.container .fa-plus {
  font-size: 1.3vh;
}

.container #playername, .container #slider{
  padding: 0 .75rem;
}

.btn { padding-left: 4vw;padding-right: 4vw; font-size:  1.5vh; margin-right: 1vw; border-radius: 6px;}
.btn[data-color="success"] {  background-color: var(--success); }
.btn[data-color="success"]:hover { background-color: var(--success); }
.btn[data-color="success"]:focus {  background-color: var(--success);}

.btn[data-color="failed"] { background-color: var(--failed); }
.btn[data-color="failed"]:hover {  background-color: var(--failed); }
.btn[data-color="failed"]:focus {  background-color: var(--failed); }

.input-field label {
  color: white !important; font-weight: 600;
  font-size: 1.5vh;
}
.input-field label:focus {color: white !important}
input {
  color: white !important;
  font-family: "Titillium Web";
  font-weight: 500;
  letter-spacing: .1vw;
  height: 3.5vh !important;
  font-size: 1.5vh !important;
}
.caret {
  fill: white !important;
}

textarea {
  max-height: 7vh;
  overflow: auto !important;
  color: white !important;
  font-family: "Titillium Web";
  font-weight: 500;
  letter-spacing: .1vw;
  font-size: 1.5vh !important;
  line-height: 1.65vh !important;
}

textarea::-webkit-scrollbar { width: .2vw; }
textarea::-webkit-scrollbar-thumb { background: #ffffffef !important; }

.input-field {
  margin-top: unset !important;
  margin-bottom: unset !important;
}

.datepicker-container .select-dropdown {
  color: black !important;
  letter-spacing: .2vw;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #ffffff;
}
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 1px solid var(--success);
  -webkit-box-shadow: 0 1px 0 0 var(--success);
  box-shadow: 0 1px 0 0 var(--success);
}
.modal-overlay {background: none;}