:root {
    --color1: #140f09;
    --color2: #202443;

    --body: #4b4783d2;

    --border-focus: #f2cbfa;

    --background: #8370ce;
    --border: #caa0fa;

    --color: #ffffff;

    --color-placeholder: #ffffffa8;

    --hoverdiv: #6954be;
}

* {
    font-family: 'Noto Sans', sans-serif;
    transition: all .2s ease;
    color: var(--color);
    margin: 10px;
    border-radius: 5px;
}

/*
    Placeholder pages showcase
*/

#first-page {
    height: 300px;
}

#second-page {
    width: 800px;
    height: 300px;
}

span {
    margin: 0;
}

/*
    Input text
*/

input {
    background-color: var(--background);
    border: 1px solid var(--border);
    height: 32px;
    width: 300px;
    font-size: 20px;
    text-align: center;
}

input:focus {
    outline: none;
    border: 1px solid var(--border-focus);
}

input::placeholder {
    color: var(--color-placeholder);
}

/*
    Input with icon
*/

.input-with-icon {
    display: flex;
    align-items: center;
    background-color: var(--background);
    border: 1px solid var(--border);
    height: 34px;
    width: 300px;
    font-size: 20px;
}

.input-with-icon input {
    text-align: left;
    display: block;
    margin: 0;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    height: 32px;
    width: 250px;
    font-size: 20px;
}

.input-with-icon input:focus {
    outline: none;
    border: none;
}

.input-with-icon input::placeholder {
    color: var(--color-placeholder);
}

.input-with-icon span {
    background-color: transparent;
}

/*
    Drop-Down menu
*/

select {
    text-align: center;
    background-color: var(--background);
    border: 1px solid var(--border);
    width: 150px;
    height: 35px;
}

select:focus {
    outline: none;
    border: 1px solid var(--border-focus);
}

select option {
    color: var(--color-placeholder);
}

/*
    Button
*/

button {
    background-color: var(--background);
    border: 1px solid var(--border);
    color: var(--color-placeholder);
    width: 150px;
    height: 35px;
    cursor: pointer;
    outline: none;
}

button:hover {
    border: 1px solid var(--border-focus);
    color: var(--color);
}

/*
    Table
*/

.table-container {
    width: 800px;
    height: auto;
    margin: 0;
}

.table-titles {
    display: flex;
    text-align: center;
    margin: 0;
    margin-bottom: 12.5px;
    width: 800px;
    height: 30px;
    background-color: var(--background);
    border: 1px solid var(--border);
    transition: all 0.6s;
}

.table-titles:hover {
    background-color: var(--hoverdiv);
}

.titles-table {
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100px;
    flex-grow: 1;
    height: 10px;
    margin: 0;
    margin-top: 4px;
}

.table-row-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    width: 801px;
    padding-right: 1px;
    height: auto;
    max-height: 400px;
    margin: 0;
}

.table-row-scroll::-webkit-scrollbar {
    display: none;
}

.table-row {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    width: 800px;
    height: 40px;
    background-color: var(--background);
    border: 1px solid var(--border);
}

.table-row:hover {
    background-color: var(--hoverdiv);
}

.item-table {
    align-items: center;
    background-color: transparent;
    flex-grow: 1;
    height: 22.5px;
    width: 100px;
    text-overflow: ellipsis;
    white-space:nowrap; 
    overflow: hidden;
}

/*
    GOOGLE ICONS
*/

.material-symbols-outlined {
    margin-left: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#watermark {
	display: none;
	position: absolute;
	top: 0%;
  	left: 50%;
	opacity: 25%;
	height: 100px;
	width: auto;
  	transform: translate(-50%, -0%);
    cursor: pointer;
}