
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
 
}
html {
  font-size: 16px;
}

@media screen and (width: 1600px) and (height: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (width: 1680px) and (height: 1050px) {
  html {
    font-size: 13px;
  }
}

@media screen and (width: 1600px) and (height: 900px) {
  html {
    font-size: 11px;
  }
}

@media screen and (width: 1768px) and (height: 992px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 1366px) and (height: 768px) {
  html {
    font-size: 11.7px;
  }
}
@media screen and (width: 1280px) and (height: 1024px) {
  html {
    font-size: 11.7px;
  }
}
@media screen and (width: 1280px) and (height: 720px) {
  html {
    font-size: 11px;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  html {
    font-size: 10.05px;
  }
}
@media screen and (width: 832px) and (height: 624px) {
  html {
    font-size: 8.05px;
  }
}

@media screen and (width: 800px) and (height: 600px) {
  html {
    font-size: 8px;
  }
}

.background{
  background-image: url(./img/Main-Container.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top:4rem;
  width: 100rem;
  height: 70rem;
  display: none;
}

/* .background{
  position: absolute;
  left: 10vh !important;
} */

.additem::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.additem::-webkit-scrollbar
{
    width: 8px;
}

.additem::-webkit-scrollbar-thumb
{
    border-radius: 10px;
  
    color: rgb(0, 146, 61);
}

.totaltext::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.totaltext::-webkit-scrollbar
{
    width: 8px;
}

.totaltext::-webkit-scrollbar-thumb
{
    border-radius: 10px;
  
    color: rgb(0, 146, 61);
}
.drinkspage{
  position:absolute;
  left:10rem !important;
  top:-1rem;
  width:100%;
  height:100%;
}
.generalpage{
  position:absolute;
  left:10rem !important;
  top:-1rem;
  width:100%;
  height:100%;

}
.foodspage{
  position:absolute;
  left:10rem !important;
  top:-1rem;
  width:100%;
  height:100%;
}
.toolspage{
  position:absolute;
  left:10rem !important;
  top:-1rem;
  width:100%;
  height:100%;
}


.marketbackgroud{
  position:absolute;
  width: 96rem;
  height: 63rem;
  left:6rem;
  top:0.7rem;

}

.drinksmain{
  width: 100rem;
  height: 65rem;
}

.foodsmain{
  width: 100rem;
  height: 65rem;


}

.toolsmain{
  width: 100rem;
  height: 65rem;
}

.marketlogo{
  position: absolute;
  width: 22rem;
  height: 15rem;
  top: -0.9rem;
  left: -10rem;
}

.totalpage{
  position: absolute;
  width: 33rem;
  height: 50.8rem;
  top: 6.9rem;
  left: 51.5rem;
}
.totalpagefoods{
  position: absolute;
  width: 33rem;
  height: 50.8rem;
  top: 6.9rem;
  left: 51.5rem;
}
.totalpagetools{
  position: absolute;
  width: 33rem;
  height: 50.8rem;
  top: 7rem;
  left: 53.5rem;
}
.totaltext{
  position: absolute;
  width: 23.7rem;
  height: 26rem;
  top: 17.5rem;
  left: 56.1rem;
  overflow: auto;
  z-index: 200;

 
}
.totaltextfoods{
  position: absolute;
  width: 23.7rem;
  height: 26rem;
  top: 18rem;
  left: 56.1rem;
  overflow: auto;
  z-index: 200;
  
}
.totaltexttools{
  position: absolute;
  width: 23.7rem;
  height: 26rem;
  top: 18.5rem;
  left: 58.1rem;
  overflow: auto;
  z-index: 200;
  
}
.seciliitem{
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-left: 2.8rem;
}
.seciliitemfoods{
  position: relative;
  display: block;
  margin-top: 1rem;
  
  margin-left: 2.8rem;
}
.seciliitemtools{
  position: relative;
  display: block;
  margin-top: 1rem;
  
  margin-left: 2.8rem;
}
.deletehover{
  position: absolute;
  right: 0rem;
  display: none;
  top: 0rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../html/img/drinksimage/Trash.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 200000;
  
}
.deletehoverfoods{
  position: absolute;
  right: 0rem;
  display: none;
  z-index: 200000;

  top: 0rem;
  width: 2rem;
  height: 2rem;
  background-image: url(../html/img/drinksimage/Trash.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  
}
.deletehovertools{
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 2rem;
  display: none;
  height: 2rem;
  background-image: url(../html/img/drinksimage/Trash.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 200000;
  
}

.secilimiktar{
  display: block;
  width: 2rem;
  
  margin-top: -1.5rem;
  text-align: end;
 
  margin-left: 9.5rem;
}
.secilimiktarfoods{
  display: block;
  width: 2rem;
  
  margin-top: -1.5rem;
  text-align: end;
 
  margin-left: 9.5rem;
}
.secilimiktartools{
  display: block;
  width: 2rem;
  
  margin-top: -1.5rem;
  text-align: end;
 
  margin-left: 9.5rem;
}
.secilifiyat{
  display: block;
  width: 5rem;
  
  margin-top: -1.5rem;
  margin-left: 3rem;
}
.secilifiyatfoods{
  display: block;
  width: 5rem;
  
  margin-top: -1.5rem;
  margin-left: 3rem;
}
.secilifiyattools{
  display: block;
  width: 5rem;
  
  margin-top: -1.5rem;
  margin-left: 3rem;
}
.walleticon{
  position: absolute;
  width:8.2rem;
  height: 2rem;
  top: 46.99rem;
  left: 71.29rem;
}
.walleticonfoods{
  position: absolute;
  width:8.2rem;
  height: 2rem;
  top: 47rem;
  left: 71.3rem;
}
.walleticontools{
  position: absolute;
  width:8.2rem;
  height: 2rem;
  top: 47rem;
  left: 73.2rem;
}
.bankicon{
  position: absolute;
 width:8.2rem;
  height: 2rem;
  top: 46.99rem;
  left: 56.8rem;
 
 
}

.bankiconfoods{
  position: absolute;
 width:8.2rem;
  height: 2rem;
  top: 47rem;
  left: 56.8rem;
}
.bankicontools{
  position: absolute;
 width:8.2rem;
  height: 2rem;
  top: 47rem;
  left: 58.8rem;
}
.paytext{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  top: 49.99rem;
  z-index: 300;
  left: 58rem;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.paytextfoods{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  top: 49.99rem;
  z-index: 300;
  left: 58rem;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.paytexttools{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  top: 49.99rem;
  z-index: 300;
  left: 60rem;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.mycash{
  position: absolute;
  width: 10rem;
  
  top: 47.5rem;
 
  left: 54.5rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.mycashfoods{
  position: absolute;
  width: 10rem;
 
  top: 47.5rem;
 
  left: 54.5rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.mycashtools{
  position: absolute;
  width: 10rem;
  
  top: 47.6rem;
 
  left: 56.5rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.paytext2{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  
  top: 49.99rem;
  left: 71.3rem;
  font-size: 0.8rem;
  z-index: 300;
  color: rgb(255, 255, 255);
}
.paytext2foods{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  
  top: 49.99rem;
  left: 71.2rem;
  font-size: 0.8rem;
  z-index: 300;
  color: rgb(255, 255, 255);
}
.paytext2tools{
  position: absolute;
  width: 9rem;
  cursor: pointer;
  
  top: 49.99rem;
  left: 73.3rem;
  font-size: 0.8rem;
  z-index: 300;
  color: rgb(255, 255, 255);
}
.mybank{
  position: absolute;
  width: 10rem;
  
  top: 47.5rem;
 
  left: 69rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.mybankfoods{
  position: absolute;
  width: 10rem;
  top: 47.6rem;
  left: 69.3rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}
.mybanktools{
  position: absolute;
  width: 10rem;
  
  top: 47.5rem;
 
  left: 71rem;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}

.totaltext1{
  position: absolute;
  width: 5rem;
  top: 16.3rem;
  left: 58rem;
  color: black;
  overflow: hidden;
}
.totaltext1foods{
  position: absolute;
  width: 5rem;
  top: 17rem;
  left: 58rem;
  overflow: hidden;

  color: black;
}
.totaltext1tools{
  position: absolute;
  width: 5rem;
  top: 17.7rem;
  left: 60rem;
  overflow: hidden;

  color: black;
}

.totaltext2{
  position: absolute;
  width: 5rem;
  
  top: 43.5rem;
  left: 58rem;
  color: black;
}
.totaltext2foods{
  position: absolute;
  width: 5rem;
  
  top: 44.5rem;
  left: 58rem;
  color: black;
}
.totaltext2tools{
  position: absolute;
  width: 5rem;
  
  top: 44.5rem;
  left: 59rem;
  color: black;
}
.totaltext3{
  position: absolute;
  width: 5rem;
  
  top: 43.6rem;
  left: 69.3rem;
  color: black;
}
.totaltext3foods{
  position: absolute;
  width: 5rem;
  
  top: 44.5rem;
  left: 69.5rem;
  color: black;
}
.totaltext3tools{
  position: absolute;
  width: 5rem;
  
  top: 44.5rem;
  left: 71.5rem;
  color: black;
}
.totaltext4{
  position: absolute;
  width: 5rem;
  text-align: end;
  top: 43.6rem;
  left: 71.4rem;
  color: black;
}
.totaltext4foods{
  position: absolute;
  width: 5rem;
  text-align: end;
  top: 44.5rem;
  left: 71.8rem;
  color: black;
}

.totaltext4tools{
  position: absolute;
  width: 5rem;
  text-align: end;
  top: 44.5rem;
  left: 74.8rem;
  color: black;
}
.cashbutton{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 55.2rem;
 
}
.bankbutton{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 69.8rem;
}
.cashbuttonfoods{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 55.2rem;
 
}
.bankbuttonfoods{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 69.8rem;
}

.cashbuttontools{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 57.2rem;
 
}
.bankbuttontools{
  position: absolute;
  width: 11rem;  
  height: 3.5rem;
  top: 48.5rem;
  left: 71.8rem;
}



.bottomline{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 43rem;
  left: 56.9rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}

.bottomtop{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 18rem;
  left: 56.9rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}


.bottomlinefoods{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 44rem;
  left: 57.5rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}

.bottomtopfoods{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 18.5rem;
  left: 57.5rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}

.bottomlinetools{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 44.5rem;
  left: 59rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}

.bottomtoptools{
  position: absolute;
  width: 22rem;
  height: 0.1rem;
  top: 19rem;
  left: 59rem;
  background: rgb(0,0,0);
  background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(61,53,53,1) 53%, rgba(255,255,255,1) 100%);
}

.additem{
  position: absolute;
  width: 50rem;
  height: 28rem;
  top: 22.6rem;
  left: 1.5rem;
  display: flex;
  flex-wrap: wrap;


}
.additemfoods{
  position: absolute;
  width: 50rem;
  height: 28rem;
  top: 22.5rem;
  left: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  
  
}

.backbutton{
  display: inline-block;
  position: absolute;
  left: -9%;
  top: 50%;
  transform: translateY(-50%);
  z-index:990;
  cursor: pointer;
  
}
.backbuttontools{
  display: inline-block;
  position: absolute;
  left: -9%;
  top: 50%;
  transform: translateY(-50%);
  z-index:990;
  cursor: pointer;
  
}
.backbuttonfoods{
  display: inline-block;
  position: absolute;
  left: -9%;
  top: 50%;
  transform: translateY(-50%);
  z-index:990;
  cursor: pointer;
}
.additemtools{
  position: absolute;
  width: 50rem;
  height: 28rem;
  top: 25rem;
  left: 12.5rem;
  display: flex;
  flex-wrap: wrap;

}
.itemimage{
  position: relative;
  bottom: 2.4rem !important;
  left: 1.25rem !important;
  width: 8rem;
  height: 8rem;
  left: 3.2rem;
  bottom: 1.5rem;
}

.itemimagefoods{
  position: relative;
  bottom: 2.4rem !important;
  left: 1.25rem !important;
  width: 8rem;
  height: 8rem;
  left: 3.2rem;
  bottom: 1.5rem;
}
.items{
  width: 6rem;
  height: 6rem;
}
.itemsfoods{
  width: 6rem;
  height: 6rem;
}
.additem2{

  width: 8.5rem;
  height:9.5rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.additem2foods{

  width: 8.5rem;
  height:9.5rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.drinksaddbuton{
  position: relative;
  bottom: 0.5rem;
  left: 3.3rem;
  cursor: pointer;
}

.drinksaddbutonfoods{
  position: relative;
  bottom: 0.5rem;
  left: 3.3rem;
  cursor: pointer;
}

.itemname{
  position: relative;
  bottom: 6.9rem;
  left: -0.3rem;
  display: block;
  width: 9rem;
  text-align: center;
  color: rgb(0, 146, 61);
}
.itemnamefoods{
  position: relative;
  bottom: 6.9rem;
  left: -0.3rem;
  display: block;
  width: 9rem;
  text-align: center;
  color: rgb(0, 146, 61);
}


.countcontainer{
  position: relative;
 
  bottom: 3.3rem;
  left: 2.2rem;
}
.countcontainerfoods{
  position: relative;
 
  bottom: 3.3rem;
  left: 2.2rem;
}
.drinksbutton{
  position: relative;
  bottom:3.7rem;
  left: 0.8rem;
  cursor: pointer;
}
.drinksbuttons{
  position: relative;
  bottom:4rem;
  left: -3.1rem;
  cursor: pointer;
}

.drinksbuttonfoods{
  position: relative;
  bottom:3.7rem;
  left: 0.8rem;
  cursor: pointer;
}
.drinksbuttonsfoods{
  position: relative;
  bottom:4rem;
  left: -3.1rem;
  cursor: pointer;
}

.drinkstotalpakettext{
   position: relative;
  display: block;
  bottom:7.25rem;
  width: 2.5rem;
  left: 3.1rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.drinkstotalpakettextfoods{
  position: relative;
 display: block;
 bottom:7.25rem;
 width: 2.5rem;
 left: 3.1rem;
 text-align: center;
 color: #fff;
 font-size: 1.5rem;
}

.itemprice{
  position: relative;
  display: block;
  bottom: 2.6rem;
  width: 5rem;
  left: -2rem;
  text-align: end;
  color: rgb(255 255 255);
  font-size: .8rem;
}

.itempricefoods{
  position: relative;
  display: block;
  bottom: 2.6rem;
  width: 5rem;
  left: -2rem;
  text-align: end;
  color: rgb(255 255 255);
  font-size: .8rem;
}
.drinksbackground{
  position: absolute;
  width: 118rem;
  height: 66rem;
 top: -2rem;
  left: -18rem;
}

.foodsbackground{
  position: absolute;
  width: 118rem;
  height: 66rem;
  top: -2rem;
  left: -18rem;
}
.toolsbackground{
  position: absolute;
  width: 118rem;
  height: 66rem;
  top: 1rem;
  left: -7rem;
}
.drinkstab{
  position: absolute;
  width: 28rem;
  height: 35rem;
  top: 20rem;
  left: 28rem;
}
.foodstab{
   position: absolute;
  width: 28rem;
  height: 35rem;
  top: 20rem;
  left: 28rem;
}

.toolstab{
  position: absolute;
  width: 28rem;
  height: 35rem;
  top: 20rem;
  left: 55rem;
}

.shopnowdrinks{
  position: absolute;
  width: 13rem;
  height: 3.4rem;
  top: 46rem;
  left: 39.8rem;
}
.shopnowfoods{
 position: absolute;
  width: 13rem;
  height: 3.4rem;
  top: 46rem;
  left: 39.8rem;
}

.shopnowtools{
  position: absolute;
  width: 13rem;
  height: 3.4rem;
  top: 46rem;
  left: 66.8rem;
}

.drinkstext{
  position: absolute;
  width: 10rem;
  height: 5rem;
  top: 23rem;
  font-size: 2.5rem;
  left: 32rem;
  color: rgb(82, 213, 87);
}
.maintext{
  position: absolute;
  width: 20rem;
  height: 5rem;
  top: 18rem;
  font-size: 3rem;
  left: 1.6rem;
  color: rgb(82, 213, 87);
}
.maintextfoods{
  position: absolute;
  width: 20rem;
  height: 5rem;
  top: 18rem;
  font-size: 3rem;
  left: 1.6rem;
  color: #ff7e00;
}
.maintexttools{
  position: absolute;
  width: 20rem;
  height: 5rem;
  top: 18rem;
  font-size: 3rem;
  left: 1.6rem;
  color: #ff7e00;
}

.foodstext{
  position: absolute;
  width: 10rem;
  height: 5rem;
  top: 23rem;
  font-size: 2.5rem;
  left: 32rem;
  color: rgb(223, 120, 23);
}

.toolstext{
   position: absolute;
  width: 10rem;
  height: 5rem;
  top: 23rem;
  font-size: 2.5rem;
  left: 59rem;
  color: rgb(206, 44, 44);
}

.shopnow{
  position: absolute;
  width: 8rem;
  height: 1rem;
  top: 46.8rem;
  font-size: 1.5rem;
  left: 43rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.shopnow1{
   position: absolute;
  width: 8rem;
  height: 1rem;
  top: 46.8rem;
  font-size: 1.5rem;
  left: 43rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.shopnow2{
   position: absolute;
  width: 8rem;
  height: 1rem;
  top: 46.8rem;
  font-size: 1.5rem;
  left: 70rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.close{
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 51rem;
  cursor: pointer;
  left: 36.5rem;

}


.text1{
  position: absolute;
  width:20rem;
  top: 13rem;
  left: 4rem;
  font-size: 1.5rem;

}

.text2{
  position: absolute;
  width:40rem;
  top: 16rem;
  left: 4rem;
  font-size: 1.5rem;
}

.priceback{
 position:relative;
 top:-1rem;
}

.pricebackfoods{
  position:relative;
  top:-1rem;
 }

 .market-item{
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 10rem;
  height: 12.2rem;
  margin: 0 .75rem;
  margin-bottom: 2.75rem;
}

.market-itemfoods{
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 10rem;
  height: 12.2rem;
  margin: 0 .75rem;
  margin-bottom: 2.75rem;
}
.market-itemtools{
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 10rem;
  height: 12.2rem;
  margin: 0 .75rem;
  margin-bottom: 2.75rem;
}

.item-image{
  width: 8.75rem;
  height: 8.75rem;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item-imagefoods{
  width: 8.75rem;
  height: 8.75rem;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-imagetools{
  width: 8.75rem;
  height: 8.75rem;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-name{
  position: absolute;
  left: 50%;
  bottom: 0.75rem;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: 500;
  color: #16676e;
}
.item-namefoods{
  position: absolute;
  left: 50%;
  bottom: 0.75rem;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: 500;
  color: #16676e;
}

.item-nametools{
  position: absolute;
  left: 50%;
  bottom: 0.75rem;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: 500;
  color: #16676e;
}

.bottom-buttons-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.bottom-buttons-wrapperfoods{
  position: relative;
  width: 100%;
  height: 100%;
}
.removefromlist{
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
}
.removefromlistfoods{
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
}
.removefromlisttools{
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
}

.addtolist{
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
}
.addtolistfoods{
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
}
.addtolisttools{
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
}

.amount-text{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}
.amount-textfoods{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}

.amount-texttools{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}
.bottom-buttons{
  width: 46%;
  height: 2rem;

  position: absolute;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);

  left: 50%;
  background-color: white;
  border-radius: 15px;
  bottom: -1.2rem;
  color: #6cba89;
  transform: translateX(-50%);
}

.bottom-buttons p{
  font-weight: 600;
  font-size: 1.2rem;
}

.bottom-buttons i{
  font-weight: 800;
  cursor: pointer;
  font-size: 1.1rem;

}

.bottom-buttonsfoods{
  width: 46%;
  height: 2rem;

  position: absolute;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);

  left: 50%;
  background-color: white;
  border-radius: 15px;
  bottom: -1.2rem;
  color: #6cba89;
  transform: translateX(-50%);
}

.bottom-buttonsfoods p{
  font-weight: 600;
  font-size: 1.2rem;
}

.bottom-buttonsfoods i{
  font-weight: 800;
  cursor: pointer;
  font-size: 1.1rem;

}
.bottom-buttonstools{
  width: 46%;
  height: 2rem;

  position: absolute;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);

  left: 50%;
  background-color: white;
  border-radius: 15px;
  bottom: -1.2rem;
  color: #6cba89;
  transform: translateX(-50%);
}

.bottom-buttonstools p{
  font-weight: 600;
  font-size: 1.2rem;
}

.bottom-buttonstools i{
  font-weight: 800;
  cursor: pointer;
  font-size: 1.1rem;

}


.price-container{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 


  min-width: 3.063rem;
  height: 1.313rem;
  font-size: 0.7rem;
  border-top-left-radius: 1.3rem;
  background-color:#58bf6b;
  border-bottom-right-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;

}

.price-containerfoods{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 


  min-width: 3.063rem;
  height: 1.313rem;
  font-size: 0.7rem;
  border-top-left-radius: 1.3rem;
  background-color:#ff7e00;
  border-bottom-right-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;

}
.price-containertools{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
 


  min-width: 3.063rem;
  height: 1.313rem;
  font-size: 0.7rem;
  border-top-left-radius: 1.3rem;
  background-color:#c356ecbf;
  border-bottom-right-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index:1000;
}



.add-button{
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  color: #62cb89;

  right: -.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -.6rem;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);
}

.add-button i{
  font-size: 1.4rem;
  font-weight: 700;
}

.add-buttonfoods{
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  color: #62cb89;

  right: -.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -.6rem;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);
}

.add-buttonfoods i{
  font-size: 1.4rem;
  font-weight: 700;
}

.add-buttontools{
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: white;
  color: #62cb89;
  z-index: 1;
  cursor: pointer;
  right: -.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -.6rem;
  box-shadow: 0px 12px 65.8px 4.2px rgba(0, 0, 0, 0.28);
}

.add-buttontools i{
  font-size: 1.4rem;
  font-weight: 700;
}